$mainPurpleColor:#5D3B78;
$mainLightColor: #FBFBFB;
$mainDarkColor: #262626;
$failedColor: #F93154;
$warningColor: #FFA900;
$blockHoverColor: #F5F3F6;
$hoverPurpleColor: #a166d1;
$focusLightPinkColor: #FF6F91;
$focusBoldPinkColor: #D65DB1;
$normalTextSize: 2rem;
$smallTextSize: 1.3rem;
$mySideColor: #a8d5e3;


$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
