.send-message-container {
    flex-shrink: 0;
    display: flex;
    border-top: thin solid $mainPurpleColor;
    background-color: white;

    &__ta {
        flex-grow: 2;
        height: 100%;
        resize: none;
        outline: none;
        border: none;
    }

    &__icon-container {
        margin: 0 1rem;
        position: relative;
        i {
            padding: 1rem 1.5rem;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                background-color: $hoverPurpleColor;
                color: $mainLightColor;
            }
        }

        &__emoji-express {
            position: absolute;
            bottom: 6rem;
            right: 0;
        }
    }
}
