.welcome-container {
    border-radius: 1rem;
    box-shadow: 2px -3px 10px $mainLightColor, 0 0 15px $mainDarkColor,
        -2px 3px 20px $mainLightColor;
    padding: 3rem;
    background-color: $mainLightColor;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 60rem;
    overflow: scroll;
    &__image {
        width: 30rem;
        height: 30rem;
        display: block;
    }

    &__logo {
        box-shadow: 0 0 10px rgba($color: $mainPurpleColor, $alpha: 0.3);
        width: 15%;
        border-radius: 50%;
        background-color: $mainPurpleColor;
    }
}

.err-message {
    width: 25rem;
}

@media only screen and(max-width: 576px) {
    .welcome-container {
        &__image {
            width: 15rem;
            height: 15rem;
        }
    }
}
