.carousel-btn {
     width: 15px !important;
     height: 15px !important;
     display: block !important;
     border-radius: 100% !important;
     background-color: $mainPurpleColor !important;
}

.spe {
     color: red !important;
}