.welcome-container {
     border-radius: 3rem;
     box-shadow: 0 0 15px rgba($color: gray, $alpha: 0.1);
}

.text-title {
     font-weight: bold;
     font-size: 3rem;
}

.btn-large {
     width: 10rem;
}
