@import '../variables/variables';


.text-title {
     font-weight: bold;
     font-size: 2.8rem;
     user-select: none;
     cursor: default;
}

.text-small {
     font-size: 1.5rem;
}
.text-medium {
     font-size: 1.8rem;
}

.text-message-danger {
     color: red;
     font-size: 1.5rem;
     text-shadow: 0 0 1px red;
}

.btn-welcome {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 25rem;
     height: 4rem;
     font-size: 1.5rem;
     position: relative;
     &__icon {
          position: absolute;
          left: 15%;
     }
}

.loading {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 100;
     
     &__overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: $mainLightColor;
          opacity: 0.4;
     }

     &__spinner {
          font-size: 1rem;
          text-shadow: 0 0 5px black;
          position: absolute;
          top: 50%;
          left: calc(52% - 8rem);
     }
}

.center {
     display: flex;
     justify-content: center;
     align-items: center;
}



