@import '../variables/variables';
.bg {
    background-color: $mainPurpleColor;
    color: $mainLightColor;
    text-align: center;
    z-index: 10;
}
.bg:hover .card__header {
    background-color: $blockHoverColor;
    color: $mainDarkColor;
}
.header:hover {
    background-color: $hoverPurpleColor; 
    height: 100%;
    
    color: aliceblue;
}
.header {
    color: aliceblue;
    border-radius: 100px;
    min-height: 40px;
}
.header__active {
    color: aliceblue;
    height: 100%;
    // width: 100%;
    background-color: $hoverPurpleColor;
    min-height: 40px;
    // border-radius: 100px;

}
.navbar {
    padding: 0;
    height: 10vh;
    min-height: 70px;
}


 
