@import "../variables/variables";

.header:hover {
    background-color: $hoverPurpleColor;
    color: aliceblue;
}
.header {
    color: aliceblue;
    border-radius: 100px;
    min-height: 40px;
}
.header__active {
    color: aliceblue;
    background-color: $hoverPurpleColor;
    min-height: 40px;
}
.navbar {
    height: 10vh;
    min-height: 70px;
    background-color: $mainPurpleColor;
    min-width: 30rem;
}
.dropdown {
    position: relative;
    .dropdown-menu {
        left: -3rem;
        flex-direction: column;
        position: absolute;
        cursor: pointer;
    }
}
.header-nav {
    display: flex;
}

.header-left {
    display: flex;
    min-width: 20rem;
    flex: 8;
    &__link {
        width: 20rem;
    }
}
.header-right {
    flex: 1;
}
