@import '../variables/variables';
.bg {
    background-color: $mainPurpleColor;
    color: $mainLightColor;
    text-align: center;
}
.bg:hover .card__header {
    background-color: $blockHoverColor;
    color: $mainDarkColor;
}
.hover:hover {
    background-color: $hoverPurpleColor; 
    height: 100%;
    margin: 0px;
    padding: 0px;
}
