.single-reaction-container {
    display: flex;
    padding: 0.5rem 1rem;
    &__icon {
        color: $mainLightColor;
        padding: 0.5rem;
        margin-right: 0.5rem;
        transform: scale(1);
        transition: 0.2s;
        &:hover {
            transform: scale(1.4);
        }
    }
}


.current-reactions-expressed {
    display: inline-block;
    position: relative;
    left: 8rem;
    background-color: $mainLightColor;
    box-shadow: 0 0 5px black;
    width: auto;
    border-radius: 50rem;
    padding: 0.5rem 2rem;

    & i {
        margin-right: 1rem;
    }
}