.single-reaction-container {
    display: flex;
    padding: 0.5rem 1rem;

    &__icon {
        margin: 0 0.5rem;
        transform: scale(1);
        transition: 0.2s ease all;
        &:hover {
            transform: scale(1.4);
        }
    }
}


.current-reactions-expressed {
    display: inline-block;
    position: relative;
    background-color: $mainLightColor;
    box-shadow: 0 0 5px black;
    width: auto;
    border-radius: 50rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

.mems-express-reaction-modal {
    height: 20rem;
    overflow-y: scroll;
}

