@import "../variables/variables";

.btn--success {
     background-color: green;
}

.btn-failed {
     background-color: red;
}
.bg {
     background-color: $mainPurpleColor;
     color: $mainLightColor;
     height: 20rem;
     text-align: center;
     &:hover .card__header {
          background-color: $blockHoverColor;
          color: $mainDarkColor;
     }
}