* {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 1;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5D3B78;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a166d1;
}

.modal-dialog {
  margin-top: 17rem;
}

/*components*/
.text-title {
  font-weight: bold;
  font-size: 2.8rem;
  user-select: none;
  cursor: default;
}

.text-small {
  font-size: 1.5rem;
}

.text-medium {
  font-size: 1.8rem;
}

.text-large {
  font-size: 2.3rem;
}

.text-xlarge {
  font-size: 2.8rem;
}

.text-message-danger {
  color: red;
  font-size: 1.5rem;
  text-shadow: 0 0 1px red;
}

.btn-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 4rem;
  font-size: 1.5rem;
  position: relative;
}
.btn-welcome__icon {
  position: absolute;
  left: 15%;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.loading__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FBFBFB;
}
.loading__spinner {
  font-size: 1rem;
  text-shadow: 0 0 5px black;
  position: absolute;
  top: 50%;
  left: calc(52% - 8rem);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-none {
  user-select: none;
}

.bg {
  background-color: #5D3B78;
  color: #FBFBFB;
  text-align: center;
  z-index: 10;
}

.bg:hover .card__header {
  background-color: #F5F3F6;
  color: #262626;
}

.header:hover {
  background-color: #a166d1;
  height: 100%;
  color: aliceblue;
}

.header {
  color: aliceblue;
  border-radius: 100px;
  min-height: 40px;
}

.header__active {
  color: aliceblue;
  height: 100%;
  background-color: #a166d1;
  min-height: 40px;
}

.navbar {
  padding: 0;
  height: 10vh;
  min-height: 70px;
}

.dropdown {
  position: relative;
  right: 30px;
}
.dropdown .dropdown-menu {
  flex-direction: column;
  position: absolute;
  right: 0;
}

.completed-step {
  display: block;
  height: 0.5rem;
  width: 5rem;
  background-color: gray;
  margin-right: 0.5rem;
  transition: 0.5s;
}

.completed-step--has-completed {
  background-color: #D65DB1;
  box-shadow: 1px 1px 5px #FF6F91;
}

.input-container {
  position: relative;
  height: auto;
  width: 25rem;
}
.input-container__input {
  outline: none;
  border: none;
  border-bottom: 3px solid #5D3B78;
  transition: 0.3s;
  letter-spacing: 2px;
}
.input-container__input:focus + .input-container__label {
  top: -2rem;
  color: #FF6F91;
  font-size: 1.3rem;
  font-weight: bold;
}
.input-container__input:not(:placeholder-shown).input-container__input:not(:focus) + .input-container__label {
  top: -2rem;
  color: #FF6F91;
  font-size: 1.3rem;
  font-weight: bold;
}
.input-container__input:focus {
  border-bottom: 3px solid #D65DB1;
}
.input-container__label {
  position: absolute;
  transition: 0.3s;
  left: 0;
  top: 0;
  font-size: 2rem;
}

.carousel-btn {
  width: 15px !important;
  height: 15px !important;
  display: block !important;
  border-radius: 100% !important;
  background-color: #5D3B78 !important;
}

.spe {
  color: red !important;
}

.single-reaction-container {
  display: flex;
  padding: 0.5rem 1rem;
}
.single-reaction-container__icon {
  color: #FBFBFB;
  padding: 0.5rem;
  margin-right: 0.5rem;
  transform: scale(1);
  transition: 0.2s;
}
.single-reaction-container__icon:hover {
  transform: scale(1.4);
}

.current-reactions-expressed {
  display: inline-block;
  position: relative;
  background-color: #FBFBFB;
  box-shadow: 0 0 5px black;
  width: auto;
  border-radius: 50rem;
  padding: 0.5rem 2rem;
}
.current-reactions-expressed i {
  margin-right: 1rem;
}

/*pages*/
.welcome-container {
  border-radius: 3rem;
  box-shadow: 0 0 15px rgba(93, 59, 120, 0.1);
  padding: 3rem 0;
}
.welcome-container__image {
  width: 30rem;
  height: 30rem;
  display: block;
}
.welcome-container__logo {
  box-shadow: 0 0 10px rgba(93, 59, 120, 0.3);
  width: 15%;
  border-radius: 50%;
  background-color: #5D3B78;
}

.err-message {
  width: 25rem;
}

.home {
  display: flex;
}
.home__inbox-list {
  min-width: 38rem;
  max-width: 38rem;
  overflow: scroll;
  overflow-x: hidden;
  height: 90vh;
}
.home__inbox-list__older-inboxs {
  color: #5D3B78;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}
.home__inbox-list__older-inboxs:hover {
  color: #a166d1;
}

.inbox {
  background-color: #FBFBFB;
  transition: 0.2s;
  cursor: pointer;
}
.inbox:hover {
  background-color: #a166d1;
  color: white;
}
.inbox__img {
  border-radius: 100%;
  overflow: hidden;
  width: 60px;
  height: 60px;
}
.inbox__img img {
  width: 100%;
  height: 100%;
}
.inbox__new-message {
  font-weight: bold;
  color: black;
  opacity: 1 !important;
}

.inbox--active {
  background-color: #a166d1;
  color: white;
}

.read-by {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.read-by__img {
  top: 0.5rem;
  right: 0;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 3px #5D3B78;
  width: 15px;
  height: 15px;
}
.read-by__img--3 {
  left: 1rem;
}
.read-by__img--2 {
  left: 2rem;
  z-index: 1;
}
.read-by__img--1 {
  left: 3rem;
  z-index: 2;
}
.read-by__img--0 {
  left: 4rem;
  z-index: 3;
}
.read-by__overlay {
  opacity: 0.5;
  position: absolute;
  background-color: #262626;
  color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top: 0.5rem;
  left: 4rem;
  z-index: 5;
  font-size: 1rem;
}

.box-chat-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  width: 72.5rem;
  border-right: thin solid #dddddd;
}

.header-box-chat {
  display: flex;
  padding: 2rem 0;
  height: 10rem;
  background-color: #FBFBFB;
}
.header-box-chat__img {
  margin: 0 2rem;
  box-shadow: 0 0 1px #5D3B78;
  overflow: hidden;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}
.header-box-chat__img img {
  width: 100%;
  height: 100%;
}
.header-box-chat__title {
  flex-grow: 6;
  max-width: 50rem;
  word-wrap: break-word;
}
.header-box-chat__icon {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
}
.header-box-chat__icon i {
  padding: 1rem 1.5rem;
  margin: 0 0.25rem;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 7.5px;
}
.header-box-chat__icon i:hover {
  color: #FBFBFB;
  background-color: rgba(161, 102, 209, 0.7);
}

.single-chat-box-container {
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
}

.single-chat-box {
  display: flex;
  user-select: none;
  margin-top: 2rem;
}
.single-chat-box--self {
  flex-direction: row-reverse;
  margin-left: 10rem;
}
.single-chat-box--other {
  margin-right: 10rem;
}
.single-chat-box__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.single-chat-box__img img {
  width: 100%;
  height: 100%;
}
.single-chat-box__message {
  word-wrap: break-word;
  background-image: linear-gradient(to left top, #5D3B78, #5462e0, #5627d8, #f8f8f9, #f7f7f8, #f6f5f7, #f2ebf6, #f1e1f3, #5462e0, #5D3B78);
  border: thin solid #5D3B78;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  max-width: 45rem;
  position: relative;
}
.single-chat-box__message:hover .single-chat-box__message__reaction-container__reaction {
  display: flex;
}
.single-chat-box__message__time-send-message {
  color: gray;
}
.single-chat-box__message__reaction-container {
  transition: 0.2s;
}
.single-chat-box__message__reaction-container__reaction {
  width: 30px;
  height: 30px;
  border: thin solid #262626;
  background-color: #FBFBFB;
  overflow: hidden;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  transition: 0.2s;
  bottom: -2rem;
  display: none;
}
.single-chat-box__message__reaction-container__reaction:hover {
  background-color: #FF6F91;
}
.single-chat-box__message__reaction-container__reaction--self {
  left: 0;
}
.single-chat-box__message__reaction-container__reaction--other {
  right: 0;
}
.single-chat-box__message__reaction-container__reaction-list {
  position: absolute;
  bottom: 0;
  border-radius: 10rem;
  background-color: #5D3B78;
  box-shadow: 0 0 5px black;
  transition: 0.2s;
  display: none;
  cursor: pointer;
  z-index: 9;
}
.single-chat-box__message__reaction-container__reaction-list--self {
  left: -12rem;
}
.single-chat-box__message__reaction-container__reaction-list--other {
  right: -12rem;
}
.single-chat-box__message__reaction-container:hover .single-chat-box__message__reaction-container__reaction-list {
  display: flex;
}
.single-chat-box__message--self {
  background-image: linear-gradient(to right top, #fbfbfb, #fafafa, #f8f8f9, #f7f7f8, #f6f5f7, #f2ebf6);
}

.send-message-container {
  flex-shrink: 0;
  display: flex;
  border-top: thin solid #5D3B78;
}
.send-message-container__ta {
  flex-grow: 2;
  height: 100%;
  resize: none;
  outline: none;
  border: none;
}
.send-message-container__icon-container i {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.send-message-container__icon-container i:hover {
  background-color: #a166d1;
  color: #FBFBFB;
}

.friendhome {
  display: flex;
}
.friendhome__friend-list {
  min-width: 38rem;
  max-width: 38rem;
  overflow: scroll;
  overflow-x: hidden;
  height: 90vh;
}
.friendhome__friend-list__older-friends {
  color: #5D3B78;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}
.friendhome__friend-list__older-friends:hover {
  color: #a166d1;
}
.friendhome__friendRequest-list {
  overflow: scroll;
  overflow-x: hidden;
  height: 85vh;
}
.friendhome__friendRequest-list__older-friends {
  color: #5D3B78;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}
.btnFriendAccept {
  background-color: #5D3B78;
}
.btnFriendAccept:hover {
  background-color: #a166d1;
}

.friend {
  transition: 0.2s;
  cursor: pointer;
}
.friend:hover {
  background-color: #a166d1;
  color: white;
}
.friend__display:hover {
  color: white;
}
.friend__img {
  border-radius: 100%;
  overflow: hidden;
  width: 60px;
  height: 60px;
}
.friend__img img {
  width: 100%;
  height: 100%;
}
.friend__imgGroup {
  border-radius: 100%;
  overflow: hidden;
  width: 60px;
  height: 60px;
}
.friend__imgGroup img {
  width: 100%;
  height: 100%;
}

.headerFriend {
  background-color: #FBFBFB;
  transition: 0.2s;
  cursor: pointer;
}
.headerFriend:hover {
  background-color: #a166d1;
  color: white;
}
.headerFriend__img {
  border-radius: 100%;
  overflow: hidden;
  width: 60px;
  height: 60px;
}
.headerFriend__img img {
  width: 100%;
  height: 100%;
}

.friend--active {
  background-color: #a166d1;
  color: white;
}

.groupImg {
  border-radius: 50%;
  width: 100px;
}

.info-room-right {
  flex-grow: 1;
  background-color: #FBFBFB;
}
.info-room-right__scroll {
  height: calc(90vh - 10rem);
  overflow-y: scroll;
  overflow-x: hidden;
}

.info-room-header {
  height: 10rem;
  border: thin solid silver;
  font-weight: bold;
  background-color: white;
}

.info-room {
  height: 15rem;
  background-color: white;
  flex-direction: column;
}
.info-room__img {
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
}
.info-room__edit:hover {
  color: #5D3B78;
  cursor: pointer;
}

.option-room {
  padding: 2rem 1rem;
  transition: 0.3s;
  border-bottom: thin solid silver;
}
.option-room:hover {
  background-color: gray;
}

.edit-room-name__img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.member-in-room__img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

/*variables*/

/*# sourceMappingURL=styles.css.map */
