.input-container {
    position: relative;
    height: auto;
    &__input {
        outline: none;
        border: none;
        border-bottom: 3px solid $mainPurpleColor;
        transition: 0.3s;
        letter-spacing: 2px;

        &:focus + .input-container__label {
            top: -2rem;
            color: $mainPurpleColor;
            font-size: $smallTextSize;
            font-weight: bold;
        }
        
        &:not(:placeholder-shown).input-container__input:not(:focus) + .input-container__label {
          top: -2rem;
          color: $mainPurpleColor;
          font-size: $smallTextSize;
          font-weight: bold;
        }
        
        &:focus {
             box-shadow: -3px 3px 3px $hoverPurpleColor;
        }
    }

    &__label {
        position: absolute;
        transition: 0.3s;
        left: 0;
        top: 0;
        font-size: $normalTextSize;
    }
}
